<div [ngFormModel]="form">
  <label [attr.for]="question.key">{{question.label}}<span class="errorMessage" *ngIf="!isValid">*</span></label>
  <div [ngSwitch]="question.controlType">
    <input *ngSwitchWhen="'textbox'" [ngControl]="question.key" [id]="question.key" [type]="question.type">
    <select [id]="question.key" *ngSwitchWhen="'dropdown'" [ngControl]="question.key">
      <option *ngFor="#opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
    <div class="errorMessage" *ngIf="question.error">{{question.errorMessage}}</div>
  </div>
</div>